* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, sans-serif;
  color: black;
}
h2 {
  font-size: 1rem;
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 10px;
}
.product p:first-of-type {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.product p:nth-of-type(2) {
  font-size: 0.7rem;
  line-height: 1.1rem;
  padding: 0 10px;
  margin-bottom: 20px;
}
a {
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
a:hover {
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
}
.container {
  width: 100vw;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  background-image: url(imgs/background.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
}
.pricingpanel {
  width: 750px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px 5px #000000;
  flex-wrap: wrap;
}
.product {
  border-radius: 15px;
  text-align: center;
  width: 190px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 15px 5px #000000;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0, 1.78, 0.17, 1);
}
.product:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.product img {
  width: 80px;
}
.fb {
  color: #85c1e2;
}
.sp {
  color: #6de5b9;
}
.yt {
  color: #f09084;
}
@media (max-width: 568px) {
  .pricingpanel {
    padding-top: 0;
    padding-bottom: 0;
  }
}
